/wp-content/plugins/chartboot-for-wordpress/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/custom-meta-widget/
/wp-content/plugins/custom-post-widget/
/wp-content/plugins/easy-chart-builder/
/wp-content/plugins/enhanced-text-widget/
/wp-content/plugins/index.php
/wp-content/plugins/mobile-smart-pro/
/wp-content/plugins/nextgen-gallery/
/wp-content/plugins/page2cat/
/wp-content/plugins/post-content-shortcodes/
/wp-content/plugins/shortcoder/
/wp-content/plugins/use-shortcodes-in-sidebar-widgets/
/wp-content/plugins/widgets-controller/
